/* =========================
MAIN BACKGROUND
========================= */

.stApp{
background: linear-gradient(135deg,#020617,#0f172a,#1e293b);
color:white;
font-family:'Segoe UI',sans-serif;
}

/* =========================
SIDEBAR
========================= */

section[data-testid="stSidebar"]{
background:#020617;
border-right:1px solid rgba(255,255,255,0.08);
}

/* =========================
HEADINGS
========================= */

h1,h2,h3,h4,label,p{
color:white !important;
}

/* =========================
KPI CARDS
========================= */

.metric-box{

border-radius:14px;
padding:14px;
text-align:center;

background: linear-gradient(
145deg,
rgba(255,255,255,0.06),
rgba(255,255,255,0.02)
);

border:1px solid rgba(255,255,255,0.12);

backdrop-filter:blur(10px);

transition:all 0.25s ease;

height:110px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

box-shadow:0 8px 20px rgba(0,0,0,0.25);

}

/* KPI Hover */

.metric-box:hover{

border:1px solid #FFD700;

transform:translateY(-4px);

box-shadow:
0 8px 25px rgba(0,0,0,0.4),
0 0 12px rgba(255,215,0,0.35);

}

/* =========================
KPI TEXT
========================= */

.metric-title{
font-size:12px;
letter-spacing:0.6px;
color:#FFD700;
text-transform:uppercase;
margin-bottom:4px;
}

.metric-value{
font-size:26px;
font-weight:700;
line-height:1.2;
}

.metric-sub{
font-size:11px;
color:#94a3b8;
margin-top:2px;
}

/* =========================
CHART PANEL
========================= */

div[data-testid="stPlotlyChart"]{

border-radius:16px;

border:1px solid rgba(255,255,255,0.12);

background: linear-gradient(
145deg,
#1e293b,
#111827
);

/* LOCK SIZE */

height:420px;
min-height:420px;
max-height:420px;

display:flex;
align-items:center;
justify-content:center;

overflow:hidden;

transition:border 0.2s ease, box-shadow 0.2s ease;

box-shadow:0 10px 30px rgba(0,0,0,0.35);

}

/* Hover */

div[data-testid="stPlotlyChart"]:hover{

border:1px solid #FFD700;

box-shadow:
0 10px 35px rgba(0,0,0,0.45),
0 0 15px rgba(255,215,0,0.35);

}

/* =========================
TABLE
========================= */

[data-testid="stDataFrame"]{

background:#1e293b;

border-radius:12px;

border:1px solid rgba(255,255,255,0.12);

padding:6px;

}

/* =========================
SCROLLBAR
========================= */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#111827;
}

::-webkit-scrollbar-thumb{
background:#FFD700;
border-radius:10px;
}

/*SIDEBAR BUTTON*/

section[data-testid="stSidebar"] button{

background:linear-gradient(135deg,#FFD700,#FFC300);

color:black;

border-radius:10px;

font-weight:600;

border:none;

padding:8px 14px;

transition:all 0.25s ease;

}

/* Hover */

section[data-testid="stSidebar"] button:hover{

box-shadow:
0 0 10px rgba(255,215,0,0.5);
transform:translateY(-2px);
}

/* Prevent column shifting */

div[data-testid="column"]{
align-items:stretch !important;
}